
#selectUploadFile {
  background-color: #7a8085;
  width: 60%;
  margin: 40px 20%;
  text-align: center;
}

#uploadFile {
  font-size: 15px;
  font-weight: bold;
  width: 30%;
  margin: 5px 35%;

}

#selectUploadFile {
  color: white;
  font-size: 18px
}




